<% provide(:title, 'About') %>
<h1>About</h1>
<p>This application pulls information from the Heroes of Newerth stats API and match logs for match data on members of the Smells Like Fail group. The data is presented here in what I hope is an
	intuitive and useful format. It has not worked yet, but one day this little app might help bring our gaming group out of the abyss of 
shitiness in which we now reside and into the sunlight of pro-ness.</p>
