<% provide(:title, 'About') %>
<h1>About</h1>
<p>This application scrapes the Heroes of Newerth database for match data on members of the Smells Like Fail group and does some data-mining
so that they can become less noob.  It has not worked yet, but one day this little app might help bring our gaming group out of the abyss of 
shitiness in which we now reside and into the sunlight of pro-ness.</p>
