<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>Email <a href="mailto:aroma.of.fail@gmail.com" title="Aroma of Fail">aroma.of.fail@gmail.com</a> with any questions.
	I can't promise a speedy response, or really a response of any kind, so don't be disappointed if your email goes unanswered.
</p>

<h3>Happy Honning!</h3>