<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>Learn 2 internet.  Or email <a href="mailto:aroma.of.fail@gmail.com" title="email address for nubs">aroma.of.fail@gmail.com</a> for help if you are truly
a nub</p>
