<div class="center hero-unit">
	<h1>Smells Like Fail</h1>
	<h2>
	  This is the home page for the
	  <a href="http://smellslikefail.com/">Smells Like Fail group</a>
	  Heroes of Newerth data scraper and datamining app
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("behe_128.jpg", alt: "behe", size: "64x64"), 'http://heroesofnewerth.com'%>