<% provide(:title, 'Record Not Found') %>
<h3>Ain't nothin here!</h3>
<p>We're sorry, the player or match you were looking for could not be found!!</p>

<% image_tag("scout_128.jpg", alt: "Scout 'em and reroute 'em", size: "64x64") %>