<% provide(:title, 'Recruitment') %>
<h1>Recruitment</h1>
<p>We are not currently accepting recruits.  No one in their right mind would want to be a part
of this shameful group anyway.  Sorry.  For everything.  Go away please.</p>