<% provide(:title, 'Sign Up') %>
<h1>Recruitment</h1>
<p>We are not currently accepting sign ups.  This is a pre-alpha release and not ready to handle the massive amount of noobs who will no-doubt find this service useful.
	Feel free to peruse the profiles of whatever noobs are in the database.  That should be interesting.</p>