<ul class="matchhistory">
	<% last_25_summary = recent_game_stats_for(@user.nickname) %>
	<%  last_25_summary.each do |match|%>
		<li><%=match%></li>
	<%end%>  
</ul><%  last_25_summary = recent_game_stats_for(@user.nickname) %>
