<% provide(:title, @user.nickname) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!--Profile_pic goes here-->
        <%= @user.nickname.upcase %>
      </h1>
      <!--Railsify this, ie put it in a separate view or erb file-->
      <%= render 'users/user_stats' %>
    </section>
  </aside>

  <div class="span8">
    <h3>Recent Match Stats</h3>
    <% if @user.match_stats.any? %>
      <ul>
        <%= render @match_stats %>
      </ul>
    <%else%>
      <p class="info">Sorry! No match stats to display for this user!</p>
    <%end%>
  </div>
</div>