<footer class="footer">
  <small>
    <a href="http://smellslikefail.com/">An Aromatic Production</a>
    by kroy
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://hondmg.com/">Hon Damage</a></li>
    </ul>
  </nav>
</footer>